<%- include("partials/header") -%>

<h1>Post limit reached</h1>
<p>You can't compose more posts.</p>
<p>This project serves as a demo, and the database can only store a limited number of posts to avoid any abuse.</p>

<a href="/maintenance"><button class="btn btn-gabriel" type="button">Back to Maintenance</button></a>

<%- include("partials/footer") -%>
